.Title {
    margin-left: 750px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c97074;
    height: 70px;
    width: 1335px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
}

li a:hover {
    background-color: rgb(18, 212, 238);
}

.inner-banner img {
    width: 1335px;
}

.inner-block {
    overflow: hidden;
    background: #f5aeb2;
    padding: 1rem;
    margin: 0 0 1rem 0;
    margin-top: 20px;
    margin-left: 20px;
    width: 1250px;
    height: 150px;
    border-radius: 20px;
    border-color: black;
    padding-bottom: 20px;
}

.block img {
    width: 200px;
    height: 150px;
    float: left;
    margin: 0 1rem 0 0;
}

.block h2 {
    font-weight: 500;
    margin: 0 0 0.5rem 0;
    font-size: 40px;
}

.inner-block p {
    font-size: 20px;
    /*text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;*/
}

.cards {
    display: flex;
    flex-direction: row;
}

.card1 {
    background: #e6c9c5;
    text-align: justify;
    width: 300px;
    float: left;
    margin-left: 60px;
    padding: 20px;
    border-color: black;
    border-radius: 20px;
    margin-top: 20px;
}

.card1 img {
    width: 300px;
}

.card1 p h2 {
    margin-left: 100px;
}

.card2 {
    background: #e6c9c5;
    text-align: justify;
    float: left;
    padding: 20px;
    margin-left: 100px;
    border-radius: 20px;
    margin-top: 20px;
}

.card2 img {
    width: 300px;
}

.card3 {
    background: #e6c9c5;
    text-align: justify;
    float: left;
    padding: 20px;
    margin-left: 100px;
    border-radius: 20px;
    margin-top: 20px;
}

.card3 img {
    width: 300px;
}

.card1 button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 50px;
}

.card2 button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 60px;
}

.card3 button {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 60px;
}